@font-face {
  font-family: 'AlmendraSC-Regular';
  src: url('AlmendraSC-Regular.eot');
  src: url('AlmendraSC-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

